h1{
   margin:2rem;
   margin-left: 40%;
}
#clock{
    background-color: rgb(0, 0, 0);
    font-size: 100px;
    font-style: oblique;
    color:white;
    height: 400px;
    width: 70%;
    margin: 0 auto;
    padding-left: 340px;
}